.section_1 {
    position: relative;
    align-items: center;
    justify-content: center;
}
.play-button_container {
    height: 150px;
    width: 150px;
    justify-content: center;
    position: relative;
    cursor:auto
}
.play-button_container:hover {
    height: 150px;
    width: 150px;
    justify-content: center;
    position: relative;
    cursor:auto
}
.play-button_background_1 {
    background-color: #999;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    opacity: 0.35;
}
.play-button_background_2 {
    background-color: #ddd;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: absolute;
    opacity: 0.5;
}
.play-button_container:hover .play-button_background_1 {
    animation: play-button-hover_background_1 0.3s linear infinite alternate;
}

.play-button_container:hover .play-button_background_2 {
    animation: play-button-hover_background_2 0.3s linear infinite alternate;
}

@keyframes play-button-hover_background_1 {
    0% {
        height: 150px;
        width: 150px;
    }
    100% {
        height: 135px;
        width: 135px;
    }
}
@keyframes play-button-hover_background_2 {
    0% {
        height: 120px;
        width: 120px;
    }
    100% {
        height: 110px;
        width: 110px;
    }
}
.play-button {
    justify-content: center; 
    background-color: #fff; 
    width: 80px; 
    height: 80px; 
    border-radius: 50%;
    z-index: 1;
}
.play-icon {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 20px solid #000;
}
.section_1_content {
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 80%;
}
.card_image_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}
.image_card {
    background-color: #707070;
    width: 24%;
    height: 22.2vw;
    margin-bottom: 1.4vw;
}
.card_image {
    object-fit: center;
    height: 100%;
    width: 100%
}
.quick_booking {
    margin-top: 0px;
    padding: 70px 80px 100px; 
    background-color: #000; 
    color: #fff;
    width: auto;
}
.quick_booking_title {
    font-size: 40px;
    text-transform: capitalize;
    letter-spacing: -0.6px;
    margin: 0 0 10px;
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
}
.quick_booking_desc {
    color: #FFFFFF99;
    text-align: center;
    margin: 0 0 30px;
    line-height: 1.5;
}
.quick_booking_wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;
    margin: 30px 0px;
}
.quick_booking label {
    font-family: 'Oswald',Sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.quick_booking select {
    width: 100%; 
    color: #FFFFFF99;
    height: 55px;
    border-style: solid;
    border-width: 1px;
    border-color: #707070;
    border-radius: 31px;
    margin: 10px 0 0;
    box-shadow: -10px 25px 50px 0px rgb(0 0 0 / 30%);
    font-size: 16px;
    font-family: 'Quicksand',Sans-serif;
    background-color: #000;
    padding: 0px 20px;
    text-transform: capitalize;
    cursor: pointer
}
.quick_booking input {
    width: 100%; 
    color: #FFFFFF99;
    height: 55px;
    border-style: solid;
    border-width: 1px;
    border-color: #707070;
    border-radius: 31px;
    margin: 10px 0 0;
    box-shadow: -10px 25px 50px 0px rgb(0 0 0 / 30%);
    font-size: 16px;
    font-family: 'Quicksand',Sans-serif;
    background-color: #000;
    padding: 0px 20px;
    text-transform: capitalize;
    cursor: pointer
}
.quick_booking button {
    width: 20%;
    color: #000;
    padding: 0px;
    height: 55px;
    margin: 10px 0 0;
    background-color: #fff;
}